<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>야부리타임</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">야부리타임</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/board">게시판</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link disabled" href="/timetable">시간표</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link disabled" href="/calculator">학점계산기</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link disabled" href="/friend">친구</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
            <div class="content-fluid">
                <p>마이페이지가 위치할 자리</p>
            </div>
        </div>

        <div class="col-md-7">
            <div class="content">
                {% block content %} {% endblock content %}
            </div>
        </div>

        <div class="col-md-3">
            <p>사이드바가 위치할 자리</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="footer">
            © 2020 Yoonseop Shin, Gwanwoo Nam, Yoojun Jang.
        </div>
    </div>

</div>



</body>
</html>