<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>야부리타임</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">야부리타임</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="/board/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            게시판
        </a>

      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" href="/board/free">자유게시판</a>
          <a class="dropdown-item" href="/board/secret">비밀게시판</a>
          <a class="dropdown-item" href="/board/hot">인기게시판</a>
      </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link disabled" href="/timetable">시간표</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link disabled" href="/calculator">학점계산기</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link disabled" href="/friend">친구</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/account/mypage">내 정보</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="content-fluid">
                {% block content %} {% endblock content %}
            </div>
        </div>

        <div class="col-md-3">
            <p>사이드바가 위치할 자리</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="footer">
            © 2020 Yoonseop Shin, Gwanwoo Nam, Yoojun Jang.
        </div>
    </div>
</div>

<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script> <!--직접 다운로드 받아서 사용하자-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>