<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Yaburitime</title>
    {% load static %} <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<h1>야부리타임</h1>
    <div id="login"> <br>
        <button type="button" onclick= "location.href='join/signin/'" class="save btn btn-light float-right">로그인</button><br>
    </div>

    <div id="signup">
        <button type="button" onclick= "location.href='join/signup/'" class="save btn btn-light float-right">회원가입</button>
    </div>

</body>
</html>






