{% extends "base.html" %}

{% block contents %}

  <div class="container">

    <div class="starter-template">
      <h1>Board</h1>
      <p class="lead"></p>
    </div>

  </div><!-- /.container -->

<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>번호</th>
      <th>작성자</th>
      <th>제목</th>
      <th>날짜</th>
      <th>조회수</th>
    </tr>
    </thead>
    <tbody>

    {% for board_posts in board_post %}

    <tr>
      <td>{{board_posts.boardNum}}</td>
      <td>{{board_posts.nickname}}</td>
      <td>{{board_posts.title}}</td>
      <td>{{board_posts.date}}</td>
      <td>{{board_posts.Field}}</td>
    </tr>

    {% endfor %}
    <tr>
      <td>2</td>
      <td>장유준</td>
      <td>제목 예시</td>
      <td>20/1/25</td>
      <td>0</td>
    </tr>

    <tr>
      <td>3</td>
      <td>장유준</td>
      <td>제목 예시</td>
      <td>20/1/25</td>
      <td>0</td>
    </tr>

    <tr>
      <td>4</td>
      <td>장유준</td>
      <td>제목 예시</td>
      <td>20/1/25</td>
      <td>0</td>
    </tr>

    <tr>
      <td>5</td>
      <td>장유준</td>
      <td>제목 예시</td>
      <td>20/1/25</td>
      <td>0</td>
    </tr>

    </tbody>
  </table>
  <a class="btn btn-default pull-right">글쓰기</a> <!-- // 글쓰기 html 로 이동 -->
</div>

{% endblock contents %}

