{% extends "base.html" %}

{% block content %}

<div class="container">
    <br>
    <br>
    <br>
    <h2 class="text-center">{{categorykr}}</h2>
    <br>
    <br>

    <h1>{{board_post.title}}</h1>

    <div class="row">
        <div class="col-md-1" style="float:left; margin-right:40px;">{{board_post.nickname}}</div>
        <div class="col-md-4" style="float:left; margin-right:100px;">{{board_post.date}}</div>
        <div class="col-md-2 float-right">조회수: {{board_post.Field}}회</div>
    </div>

    <hr>
    <br>
    <br>
    <p>{{board_post.content}}</p>
    <br>
    <br>

    <hr>
    <div class="row">

        <style>
            .btn-group-xs > .btn, .btn-xs {
              padding: .25rem .4rem;
              font-size: .999rem;
              line-height: .5;
              border-radius: .2rem;
              margin-left:20px;
              margin-right:50px;
              width:90px;
              height:30px;
            }
        </style>

        <h5 style="margin-top:3px">추천: {{board_post.recommend}} </h5>
        <form action = "/board/{{whatboard}}/{{board_post.boardNum}}/recommend" method="POST">
            {% csrf_token %}
            <button class="btn btn-outline-info btn-xs" onclick="alert('추천!')">추천</button>
        </form>

        <h5 style="margin-top:3px"> 비추천: {{board_post.unrecommend}}</h5>

        <form action = "/board/{{whatboard}}/{{board_post.boardNum}}/unrecommend" method="POST">
            {% csrf_token %}
            <button  class="btn btn-outline-info btn-xs" style="margin-left:20px; margin-right:50px; width:90px;height:30px;" onclick="alert('비추천!')"> 비추천</button>
        </form>
    </div>

    <button class="btn btn-info float-right" onclick = "location.href = '/board/{{whatboard}}'">목록으로</button>
</div>


{% endblock content %}