{% extends "base.html" %}

{% block content %}



  <div class="container-fluid" style="margin-top:70px; margin-bottom:70px;">

    <div class="starter-template text-center">
      <h3>{{ changedwhatboard }}</h3>
      <p class="lead"></p>
    </div>
  </div><!-- /.container -->
  <div class="float-right">
    <a href="posting/" class="btn btn-info" style="margin-bottom:10px;" >글쓰기</a> <!-- // 글쓰기 url 로 이동 -->
  </div>



<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>{{ changedwhatboard }}</th>
    </tr>
    </thead>

    {% for board_posts in pageposts %}


    <tr style = "cursor:pointer;" onClick = " location.href=' {{ board_posts.boardNum }} '"> <!--게시글로 이동-->

      <td>
        <strong>{{board_posts.title}}</strong>
        <div class="small" style="color:gray">{{board_posts.content}}</div>
        <span class="small" style="color:dark">{{board_posts.nickname}}</span>
        <span class="small" style="color:gray">{{ board_posts.date|timesince }}전</span>
        <span class="float-right">&nbsp{{board_posts.recommend}}</span>
        <i class="far fa-thumbs-up float-right" style="color:blue; margin-top:3px;"></i>
      </td>
    </tr>

    {% endfor %}

  </table>

<!--pagination-->
  <div style="padding-right: 400px; padding-left: 400px;" class="text-center">
    <table class="table table-bordered table-sm">
      <tr>
        {% if pageposts.has_previous %}
        <th class="tr_hover" onclick="location.href='?page=1'" style="cursor:pointer;"><<</th>
        <th class="tr_hover" onclick="location.href='?page={{pageposts.previous_page_number}}'" style="cursor:pointer;"><</th>
        {% else %}
        <th class="th_disabled"><<</th>
        <th class="th_disabled"><</th>
        {% endif %}


        {% if prepage.has_previous %}
        <th class="tr_hover" onclick="location.href='?page={{prepage.previous_page_number}}'" style="cursor:pointer;" > {{prepage.previous_page_number}}</th>
        {% endif %}

        {% if pageposts.has_previous %}
        <th class="tr_hover" onclick="location.href='?page={{pageposts.previous_page_number}}'" style="cursor:pointer;">{{prepage.number}}</th>
        {% endif %}

        <th bgcolor="#e3f2fd">{{pageposts.number}}</th>

        {% if pageposts.has_next %}
        <th class="tr_hover" onclick="location.href='?page={{pageposts.next_page_number}}'" style="cursor:pointer;">{{nextpage.number}}</th>
        {% endif %}

        {% if nextpage.has_next %}
        <th class="tr_hover" onclick="location.href='?page={{nextpage.next_page_number}}'" style="cursor:pointer;">{{nextpage.next_page_number}}</th>
        {% endif %}

        {% if is_lastpage_hide %}
        {% else %}
        <th>...</th>
        <th class="tr_hover" onclick="location.href='?page={{pageposts.paginator.num_pages}}'" style="cursor:pointer;">{{pageposts.paginator.num_pages}}</th>
        {% endif %}

        {% if pageposts.has_next %}
        <th class="tr_hover" onclick="location.href='?page={{pageposts.next_page_number}}'" style="cursor:pointer;" >></th>
        <th class="tr_hover" onclick="location.href='?page={{pageposts.paginator.num_pages}}'" style="cursor:pointer;">>></th>
        {% else %}
        <th class="th_disabled">></th>
        <th class="th_disabled">>></th>
        {% endif %}
      </tr>
    </table>
  </div>

</div>

{% endblock content %}
