{% extends "base.html" %}

{% block content %}

<h2>학점계산기</h2>

<div class="col-md-5">

    <table class="table table-bordered" id="caculator-table">
        <tr style="text-align:center;">
            <th style="width:50px;">과목</th>
            <th style="width:50px;">점수</th>
            <th style="width:50px;">학점</th>
            <th>전공</th>
        </tr>

        <tr>
            <td style="height: 0px; padding:0px;">
                <input type="text" style="border: 0px; height:50px; font-size:15px; text-align: center;">
            </td>
            <td>
                <select name="선택">
                    <option value="선택">선택</option>
                    <option value="A+">A+</option>
                    <option value="A">A</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td style="padding: 0px;">
                <input type="text" style="width:60px; border: 0px; height:50px; font-size:20px; text-align: center;">
            </td>
            <td>
                <input type="checkbox" style="width:50px; border: 0px;">
            </td>
        </tr>

        <tr>
            <td style="height: 0px; padding:0px;">
                <input type="text" style="border: 0px; height:50px; font-size:15px; text-align: center;">
            </td>
            <td>
                <select name="선택">
                    <option value="선택">선택</option>
                    <option value="A+">A+</option>
                    <option value="A">A</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td style="padding: 0px;">
                <input type="text" style="width:60px; border: 0px; height:50px; font-size:20px; text-align: center;">
            </td>
            <td>
                <input type="checkbox" style="width:50px; border: 0px;">
            </td>
        </tr>

        <tr>
            <td style="height: 0px; padding:0px;">
                <input type="text" style="border: 0px; height:50px; font-size:15px; text-align: center;">
            </td>
            <td>
                <select name="선택">
                    <option value="선택">선택</option>
                    <option value="A+">A+</option>
                    <option value="A">A</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td style="padding: 0px;">
                <input type="text" style="width:60px; border: 0px; height:50px; font-size:20px; text-align: center;">
            </td>
            <td>
                <input type="checkbox" style="width:50px; border: 0px;">
            </td>
        </tr>


    </table>

    <button class="btn btn-success float-right" id="add-sub" onclick="addsub()">과목추가</button>

    <script>
            function addsub() {
            var table1 = document.getElementById("caculator-table");
            var tr = document.createElement("tr");
            var td1 = document.createElement("td");
            var td2 = document.createElement("td");
            var td3 = document.createElement("td");
            var td4 = document.createElement("td");
            tr.appendChild(td1);
            tr.appendChild(td2);
            tr.appendChild(td3);
            tr.appendChild(td4);
            table1.firstChild.appendChild(tr);
            }
    </script>

</div>

{% endblock content %}