{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <br>
    <div style="float:left;">
        <h2>{{counter}} 님과의 대화</h2>
    </div>
    <br>
    <div style="float:right;">
        <button type="button" class="btn btn-danger" onclick="location.href='/account/deletemsg/'">대화내용 삭제</button>
    </div>

    <br> <br>
    <hr class="one">
    <br>
    {% for msg in msg_list %}
        {% if msg.sender == user.nickname %}
            <div style="text-align:left; color:red; margin-left:15px;">
                <h3><span class="label label-info">{{msg.content}}</span></h3>
                <div style="text-align:left; color:blue; margin-top:2px;">
                    <h6>{{msg.datetime}}</h6>
                </div>
            </div>
        {% else %}
            <div style="text-align:right; color:blue;">
                <h3><span class="label label-danger">{{msg.content}}</span></h3>
                <div style="text-align:right; color:red; margin-top:2px;">
                    <h6>{{msg.datetime}}</h6>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock content %}