{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <br><h2>{{counter}} 님과의 대화</h2>
    <br><br><br>
    {% for msg in msg_list %}
        {% if msg.owner.nickname == user.nickname %}
            <div style="text-align:left; color:red;">
                <h3><span class="label label-info">{{msg.content}}</span></h3>
                <div style="text-align:left; color:blue; margin-top:5px;">
                    <h6>{{msg.datetime}}</h6>
                </div> <br>
            </div> <br>

        {% else %}
            <div style="text-align:right; color:blue;">
                <h3><span class="label label-danger">{{msg.content}}</span></h3>
                <div style="text-align:right; color:red; margin-top:5px;">
                    <h6>{{msg.datetime}}</h6>
                </div> <br>
            </div> <br>
        {% endif %}
    {% endfor %}
{% endblock content %}