{% extends "base.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--<link rel=”stylesheet” href=”http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css“>-->
<link rel="stylesheet" href="{% static 'css/etcstyles.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <div class="alignleft">
        <h2>{{counter}} 님과의 대화</h2>
    </div>
    <div class="alignright">
        <span class="btn btn-danger">대화내용 삭제</span>
    </div>
    <div style="clear: both;"></div>

    <hr class="one">

    {% for msg in msg_list %}
        {% if msg.sender == user.nickname %}
            <div class="container">
                <div style="text-align:left; font-family:sans-serif; color: #282828;">
                    <h4>{{msg.content}}</h4>
                </div>
                <span class="time-left">
                    <h6>{{msg.datetime}}</h6>
                </span>
            </div>

        {% else %}
            <div class="container darker">
                <div style="text-align:right; font-family:sans-serif; color: #282828;">
                    <h4>{{msg.content}}</h4>
                </div>
                <span class="time-right">
                    <h6>{{msg.datetime}}</h6>
                </span>
            </div>
        {% endif %}
    {% endfor %}
{% endblock content %}