<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}" />
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <form action="/join/" method="post">
        {% csrf_token %}
        <div id="login"> <br>
            아이디&nbsp&nbsp&nbsp&nbsp&nbsp: <input type="text" value="아이디" name="id"> <br>
            비밀번호&nbsp: <input type="password" value="비밀번호" name="pw">
            <input type="submit" value="로그인"> <br> <br>
            &nbsp&nbsp아직 이 곳 회원이 아니신가요? <a href="/join/signUp/">회원가입</a>
        </div>
    </form>
</body>
</html>