{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <div class="container-fluid">
            <table class="table table-striped">
                <thead>
                <br>
                    <h1 align="left">쪽지함</h1>
                    <div align="right">
                        <button type="button" class="btn btn-danger" onclick="location.href='/account/sendmsg/'">쪽지 보내기</button>
                    </div>
                <br>
                </thead>
                    <form action="/account/msg/" method="post">
                    {% for counter in msg_counters %}
                        {%csrf_token%}
                        <td>
                            <strong>{{counter}}</strong> 님과의 메세지
                            <input type="hidden" name="counter" value="{{counter}}">
                            <div align="right"> <button type="submit">확인하기</button> </div>
                        </td>
                    {% endfor %}
                    </form>
            </table>
        </div>
    </div>

</div>

{% endblock %}