{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <br>
        <button type="button" class="btn btn-info btn-lg btn-dark"
            onclick= "location.href='/account/update/'" disabled="disabled">회원정보 수정</button>

        <br>
        <br>

        <button type="button" class="btn btn-info btn-lg btn-dark"
            onclick= "location.href='/account/delete/'">회원탈퇴</button><br>
    </div>

    <div class="col-md-9">
        <div class="container-fluid">
            <table class="table table-striped">
                <thead>
                <br>
                    <h3 align="center">회원 정보 수정</h3>
                <br>
                </thead>
                <form action="../update/" method="POST">
                    {% csrf_token %}
                    <tr>
                        <p style="text-align: center;">
                          <img src = "/static/image/profile_image.png" width="120px" height="120px">
                        </p>
                    </tr>

                    <tr>
                        <td>
                            <p style="text-align:center">
                                이름
                            </p>
                        </td>
                        <td>
                            <p style="test-align:center">
                                {% csrf_token %}
                                <input type="text" name="name" value="{{ user.name }}">
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p style="text-align:center;">
                                닉네임
                            </p>
                        </td>
                        <td>
                            <p style="test-align:center;">
                                {% csrf_token %}
                                <input type="text" name="nickname" value="{{ user.nickname }}">
                            </p>
                        </td>
                    </tr>

                    <p style="text-align:right">
                        <input type="submit" value="수정" class="btn btn-dark">
                    </p>
                </form>
            </table>
        </div>
    </div>

</div>

{% endblock %}