

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>KU_Board 회원가입</title>

  <style>

 h, td, tr, input, textarea, select, FORM
 {
   font-family:고딕;
  font-size:1em;
  border-radius:5px;

 }

 table, FORM
 {
  border:1px solid rgba(36, 228, 172, 0.29);
  border-spacing:15px;
 }

  </style>

</head>
<body style="background-color:#f0f5f3">
 <center>

  <form action="/account/signup/" method="post">
  {%csrf_token%}
      {{form.as_p}}
<!--  <h1> 회원가입</h1>-->
<!-- <table boder = "" bgcolor = "#cdfdee" cellspacing = "1" >-->
<!--  <tr>-->

<!--   <td text-align="center">아이디 </td>-->
<!--   <td>-->
<!--   <input type = "text" name="username"/>-->
<!--   </td>-->
<!--  </tr>-->

<!--  <tr>-->
<!--   <td> 비밀번호 </td>-->
<!--   <td> <input type = "password" name="password1"/> </td>-->
<!--  </tr>-->

<!--  <tr>-->
<!--   <td> 비밀번호 확인 </td>-->
<!--   <td> <input type = "password" name="password2"/> </td>-->
<!--  </tr>-->

<!--  <tr>-->
<!--   <td> 성명 </td>-->
<!--   <td> <input type = "text" name="name"/> </td>-->
<!--  </tr>-->

<!--  <tr>-->
<!--    <td> 닉네임 </td>-->
<!--    <td> <input type="text" name="nickname"/> </td>-->
<!--  </tr>-->
<!--</table>-->

<br/>
    <input type = "submit" value = "가입하기">
    <input type = "reset" value = "다시 입력">
  </form>

</center>
</body>
</html>

